% Configuration file for iDataGraphvizForm.
% Comment lines start with % and run to the entire line or end of file.
% Content should consist of name value pairs.
% Syntactic restrictions:
%     name must not contain whitespace and do not start with %;
%     name and value are separated by a non-zero number of whitespace characters; 
%     value is interpreted up until, but excluding next newline character;
%     values must terminate with a newline character.
% current names:
% DOT_PATH: the full path name to the dot.exe application of the graphviz package.
%
DOT_PATH C:\Program Files\Graphviz 2.28\bin\dot.exe
