.icon-help {
	background-image: url('../img/icons/help.png');
}
.icon-hint {
	background-image: url('../img/icons/information.png') !important;
}
.icon-valid {
	background-image: url('../img/icons/accept.png') !important;
}
.icon-invalid {
	background-image: url('../img/icons/exclamation.png') !important;
}
.icon-continue {
	background-image: url('../img/icons/arrow_right.png');
}
.icon-login, .icon-log-in {
		background-image: url('../img/icons/tick.png');
}
.icon-logout, .icon-log-out {
	background-image: url('../img/icons/door_in.png');
}
.icon-view {
	background-image: url('../img/icons/page.png') !important;
}
.icon-edit {
	background-image: url('../img/icons/pencil.png') !important;
}
.icon-delete {
	background-image: url('../img/icons/trash.png') !important;
}
.icon-refresh {
	background-image: url('../img/icons/refresh.png') !important;
}
.icon-up {
	background-image: url('../img/icons/move-up.png') !important;
}
.icon-down {
	background-image: url('../img/icons/move-down.png') !important;
}
.icon-add, .icon-new {
	background-image: url('../img/icons/add.png') !important;
}
.icon-remove {
	background-image: url('../img/icons/delete.png') !important;
}
.icon-ok {
	background-image: url('../img/icons/tick.png') !important;
}
.icon-cancel {
	background-image: url('../img/icons/cancel.png') !important;
}
.icon-open {
	background-image: url('../img/icons/document-open.png') !important;
}
.icon-close {
	background-image: url('../img/icons/cancel.png') !important;
}
.icon-previous {
	background-image: url('../img/icons/arrow_left.png') !important;
}
.icon-next {
	background-image: url('../img/icons/arrow_right.png') !important;
}



